@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Red+Hat+Display:wght@400;700;900&display=swap');
/*css reset*/
*{
     margin: 0; 
     padding:0; 
      box-sizzing: border-box
    }

:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

}
body{
    background: var(--Pale-blue);
    font-family: "red Hat Display", sans-serif;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 100vh; 
}

.background_image{
    background-image: url(./pattern-background-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat; 
    backgund-position: center;
    height: 400px;
    position: absolute; 
    top:0;
    left: 0;
    right:0;
    bottom:0;
    z-index: -1; 
}

button {
    font-family: "red Hat Display", sans-serif;
    background: var(--Bright-blue);
    width: 90%; 
    margin: 20px auto; 
    height: 50px; 
    color: white;
    padding: 10px 30px;
    border: 1px; 
    border-radius: 5px; 
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
}

.main_card{
    background: white;
    margin: 20px;
    padding-bottom: 30px;
    border-radius: 10px; 
    box-shadow: 3px 3px 3px hsl(228,45%, 44%, 0.15);

}
.main_card img.illusttration{
    width: 100%;
    border-radius: 10px 10px 0 0; 
}
.main_card h1{
    color: var( --dark-blue);
    background: transparent;
}
.main_card p{
    color: var(--Desaturated-blue);
    padding: 0px 30px;
    line-height: 1.6; 
}

.midcard {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
article {
    display: flex;
    align-items: center;
    justify-content:center;
}
.link-change {
    background: transparent; 
    color: var(--Bright-blue);
    font-size: 14px; 
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.link-change:hover, 
    button:hover {
    opacity: 0.6;
}

.link-cancel{
    text-decoration: none; 
    color: var(--Desaturated-blue);
    font-weight: bold; 
    transition: all 0.2s ease-in-out;
}

.link-cancel:hover{
    color: hsl(223, 47%, 23%);
}

.bottom-btn{
    display: flex; 
    flex-direction: column; 
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-bottom: 20px; 
}
.attribution a { 
        color: hsl(228, 45%, 44%);
     }

/* This is the media query for tablets */
@media (min-width:768px){
.background_image{
    background-image: url(./pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height:50vh;

}

}
